<div class="p-fluid grid d-flex flex-wrap form-grid">

  <div class="field col-12 col-md-6 col-xl-3 p-3 m-auto">
    <label for="autoComplete">AutoComplete</label>
    <p-autoComplete #sb id="autoComplete" [(ngModel)]="autoComplete" name="autoComplete" field="autoComplete" [suggestions]="resultsAutoComplete" (input)="search($event)"></p-autoComplete>
  </div>

  <div class="field col-12 col-md-6 col-xl-3  p-3">
    <label for="calendar">Calendar</label>
    <p-calendar id="calendar" [(ngModel)]="date"></p-calendar>
  </div>

  <div class="field col-12 col-md-6 col-xl-3 p-3 align-content-center">
    <label>Checkbox</label>
    <div class="d-flex flex-wrap justify-content-around">
      <p-checkbox name="groupname" value="val1" label="Value 1" [(ngModel)]="selectedValuesCheckBox" class="col-6"></p-checkbox>
      <p-checkbox name="groupname" value="val2" label="Value 2" [(ngModel)]="selectedValuesCheckBox" class="col-6"></p-checkbox>
      <p-checkbox name="groupname" value="val3" label="Value 3" [(ngModel)]="selectedValuesCheckBox" class="col-6"></p-checkbox>
      <p-checkbox name="groupname" value="val4" label="Value 4" [(ngModel)]="selectedValuesCheckBox" class="col-6"></p-checkbox>
    </div>
  </div>

  <div class="field col-12 col-md-6 col-xl-3  p-3">
    <label>Radio Button</label>
    <p-radioButton name="groupname" value="val 1" [(ngModel)]="selectedValuesRadioButton"></p-radioButton>
    <p-radioButton name="groupname" value="val 2" [(ngModel)]="selectedValuesRadioButton"></p-radioButton>
    <p-radioButton name="groupname" value="val 3" [(ngModel)]="selectedValuesRadioButton"></p-radioButton>
    <p-radioButton name="groupname" value="val 4" [(ngModel)]="selectedValuesRadioButton"></p-radioButton>
  </div>

</div>



