<h2>My Heroes</h2>
<p-table
  #heroTable [columns]="cols"
  [value]="heroes"
  [paginator]="true"
  [rows]="10"
  [filterDelay]="0"
  [showCurrentPageReport]="true"
  currentPageReportTemplate="Affichage de {first} à {last} sur {totalRecords} entrées"
  [globalFilterFields]="['name','guild','power','adresse']"
>
  <ng-template pTemplate="caption">
    <div class="table-header">
      Liste de Héros
      <span class="p-input-icon-left">
        <i class="pi pi-search"></i>
        <input pInputText type="text" (input)="heroTable.filterGlobal(getEventValue($event), 'contains')" placeholder="Recherche par nom" />
      </span>
    </div>
  </ng-template>
  <ng-template pTemplate="header" let-columns>
    <tr>
      <th *ngFor="let col of columns" [pSortableColumn]="col.field">
        <div class="flex justify-content-between align-items-center">
          {{col.header}}
          <p-sortIcon [field]="col.field"></p-sortIcon>
          <p-columnFilter type="text" [field]="col.field" display="menu" class="ml-auto"></p-columnFilter>
        </div>
      </th>
      <th>Supprimer</th>
    </tr>
  </ng-template>
  <ng-template pTemplate="body" let-hero let-columns="columns">
    <tr>
      <td *ngFor="let col of columns">
        <div *ngIf="isDate(col.field); else elseBlock">{{hero[col.field] | date: 'dd/MM/yyyy'}}</div>
        <ng-template #elseBlock>
          <a *ngIf="isId(col.field) ; else notLink" routerLink="/detail/{{hero[col.field]}}">{{hero[col.field]}}</a>
          <ng-template #notLink>{{hero[col.field]}}</ng-template>
        </ng-template>
      </td>
      <td><button title="Delete Hero" (click)="delete(hero)"><i class="pi pi-times"></i></button></td>
    </tr>
  </ng-template>
</p-table>
